body {
    font-family: sans-serif;
    background: gray;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    flex: 30%;
    margin: 10px;
    padding: 10px;
    border: white solid 1px;
    text-align: center;
}

h2 {
    text-align: center;
}

video {
    border: black solid 1px;
}